{% extends 'base.html' %}

{% block navbar %}
{% include 'nav-bar.html' %}
{% endblock %}

{% block content %}
<div class="container">
    <form action="" method="post">
        {% csrf_token %}
        {% for test in tests %}
        <div class="test shadow p-3 float-left mt-3">
            <p class="mt-3">{{test.test_name}}</p>
            <p class="mt-3">{{test.test_duration}}</p>
            <p class="mt-3">{{test.test_max_marks}}</p>
            <p class="mt-3">Rus. {{test.number_of_questions}}</p>
            {% if test.test_series_joined %}
            <a class="btn btn-success p-2 rounded-0 mt-1"  href="{% url 'testseriesapp:join-now' test.id %}" disabled>Join now</a>
            <a class="btn btn-success p-2 rounded-0 mt-1" href="{% url 'testseriesapp:test-series-details' test.id %}">Appear</a>
            
            {%else%}
            <a class="btn btn-success p-2 rounded-0 mt-1" href="{% url 'testseriesapp:test-series-details' test.id %}">Join now</a>
            
            {%endif%}
            
        </div>
        {% endfor %}

    </form>
    
</div>

{% endblock %}

